* {
    border: 0;
    box-sizing:border-box;
    margin: 0;
}

#content {
    height: 80vh;
    background-color:antiquewhite;
}


#header {
    background-color: blanchedalmond;
    width: 100%;
    height: auto;
    min-height: max-content;
    border: 1px solid black;
}

.section {
    background-color: rgb(253, 191, 116);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section .nav-section{
    display: flex;
    height: auto;
}

.nav-section a {
    text-decoration: none;
    color: inherit;
    border: 1px solid #100e0e;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-section a:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    background-color: rgb(231, 165, 85);
}

.blog-page {
    padding: 0 3vh;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0 5px;
    align-content: center;
}

.footer {
    background: blanchedalmond;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border: #333 solid 1px;
}

.footer nav a,
.footer a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.footer nav a:hover,
.footer a:hover {
    text-decoration: underline;
}

.footer .subscribe {
    margin-top: 15px;
}

.footer .subscribe input[type="email"] {
    padding: 5px;
    width: 200px;
    max-width: 80%;
}

.footer .subscribe button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}