{% extends "main_page.html" %}
{% block content %}
    <div class="article">
        <h2>New Article</h2>
        <form method="POST">
            <input type="text" placeholder="Article Title"  name="article_title" id="article-title">
            <input type="date" placeholder="Publishing Date" name="publishing_date" id="article-date">
            <textarea placeholder="Content" name="article_content" id="article-content" cols="30" rows="10" ></textarea>
            <input type="submit" value="Publish">
        </form>
    </div>
    
{% endblock %}